[submodule "zsh-syntax-highlighting"]
  path = zsh/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting
  ignore = dirty
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
