[user]
  name = Austin Wood
  email = i@austinwood.me
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[credential]
	helper = osxkeychain
[github]
	user = indiesquidge
	token = 67d732b62c344f494600617f9e12ccc83725388d
